<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 别名 -->
	<typeAliases>
		<!-- 识别该包名下的所有类;别名默认为首字母小写 -->
		<package name="club.lionye.entity"/>
	</typeAliases>
	
	<mappers>
		<mapper  resource="mapper/UserMapper.xml"/>
	</mappers>
</configuration>